body {
   margin : auto;
   background-image: url('../images/fond.html');
}

html {
 scroll-behavior: smooth;

}

li{
  list-style: none;
}

#BarreTop{
   position: absolute;
   width: 100%;
   height : 100px;
   margin-top: 52px;
   background-color: #002E5D;
}

#logo {
   width : 250px;
   height: 100px;
   line-height: 100px;
   background-color: white;
   font-size: 40px;
   border:2px solid;
   text-align: center;
   position: relative;
}

#logo a {
   display: block;
   text-decoration: none;
   color : #002E5D;
}
#logo img{
   width: 140px;
   height: 80px;
   margin-top: 70px;
}

.corps {
   margin : auto;
   width: 1200px;
   font-family: 'Karla', sans-serif;
}

.contenu{
   margin-top: 80px;
   margin-bottom: 40px;
}

form{
   padding: 10px 10px 10px 10px;
   border-style: solid;
}

#menu{
   position: relative;
}

nav ul{
   padding : 0px;
   margin :0px;
   float : right;
}

nav li{
   display:inline-block;
   margin :0px;
   padding :0px;
   width :280px;
   height :50px;
   text-align : center;
   line-height: 50px;
   background-color: white;
   border : 2px solid;
   font-size: 20px;
   border-radius: 60px;
}

nav li a{
   text-decoration: none;
   color: #002E5D;
   display : block;
}

nav li:hover{
   background-color: #DCEAF7;
   text-decoration: none;
}

nav li a:hover{
   text-decoration: none;
   color : #002E5D;
}

#pp{
margin-left : 50px;
width : 50px;
border-radius: 2em;}

form {
 /* Uniquement centrer le formulaire sur la page */
 margin: 0 auto;
 width: 500px;
 /* Encadré pour voir les limites du formulaire */
 padding: 1em;
 border: 2px solid;
 border-radius: 1em;
 border-color: #002E5D;
}

label {
 /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
 display: inline-block;
 width: 250px;
 font-size: 25px;
 text-align: center;
 color: #002E5D;
}

input{
   width: 200px;
   height: 30px;
   margin-bottom: 50px;
   font-size: 20px;
}
#dessus{
      display: flex;
      justify-content: end;
      align-content: start;
      opacity: 0;

}

#pp{
text-decoration: none;
}

#pop{
width : 140px;
}

#pop li{
margin :0px;
   padding :0px;
   width :140px;
   height :40px;
   text-align : center;
   line-height: 40px;
   background-color: white;
   border : 2px solid;
   font-size: 17px;
}

#pop li:hover{
    background-color: #DCEAF7;
    text-decoration: none;
}

.bande{
margin-bottom : 30px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color : white;
    background-color: #002E5D;
    margin-top: 20px;
    font-size: 22px;
}


/* ----------------------------- */ 


:root {
   --backgroundColor: rgba(246, 241, 209);
   --VertA: rgb(106, 163, 137);
   --VertB: rgb(121, 186, 156);
   --VertC: rgb(150, 232, 195);
   --VertD: rgb(187, 232, 211);
   --VertE: rgb(205, 255, 232);
 }
 
 @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
 * {
   box-sizing: border-box;
 }
 *::before, *::after {
   box-sizing: border-box;
 }

 button {
   position: relative;
   display: inline-block;
   cursor: pointer;
   outline: none;
   border: 0;
   vertical-align: middle;
   text-decoration: none;
   font-size: 13px;
     color:var(--VertA);
   font-weight: 700;
   text-transform: uppercase;
   font-family: inherit;
   padding-bottom: 100px;
 }
 
 button.butbut {
    padding: 1em 2em;
  border: 2px solid var(--VertA);
   border-radius: 1em;
   background: var(--VertE);
 transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
 }
 button.butbut::before {
   position: absolute;
   content: '';
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: var(--VertC);
   border-radius: inherit;
     box-shadow: 0 0 0 2px var(--VertA);
  transform: translate3d(0, 0.75em, -1em);
      transition: all 175ms cubic-bezier(0, 0, 1, 1);
 }
 
 
 button.butbut:hover {
   background: var(--VertD);
   transform: translate(0, 0.375em);
 }
 
 button.butbut:hover::before {
   transform: translate3d(0, 0.75em, -1em);
 }
 
 button.butbut:active {
    ransform: translate(0em, 0.75em);
 }
 
 button.butbut:active::before {
   transform: translate3d(0, 0, -1em);
   
       box-shadow: 0 0 0 2px var(--VertB), 0 0.25em 0 0 var(--VertB);
 
 }

 .c1,.c2 {
  margin-top: 20px;
  margin-bottom: 10px;
 }

 .c1 li,.c2 li{
  list-style: square;
 }

 .titre{
  font-size: 20px;
 }
 table {
  width: 100%;
 }

td {
  width: 50%;
  border-style: solid;
  border-radius: 30px;
  border-color: #002E5D;
  vertical-align: top;
 }

.nomCase{
  border-bottom-style: solid;
  border-color: #002E5D;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
}