body {
   margin : auto;
   background-image: url('../images/fond.html');
}

html {
 scroll-behavior: smooth;

}

#BarreTop{
   position: absolute;
   width: 100%;
   height : 100px;
   margin-top: 58px;
   background-color: #002E5D;
}

#logo {
   width : 250px;
   height: 100px;
   line-height: 100px;
   background-color: white;
   font-size: 40px;
   border:2px solid;
   text-align: center;
   position: relative;

}

#logo a {
   display: block;
   text-decoration: none;
   color : #002E5D;
}
#logo img{
   width: 140px;
   height: 80px;
   margin-top: 70px;
}

.corps {
   margin : auto;
   width: 1200px;
   font-family: 'Karla', sans-serif;
}

.contenu{
   margin-top: 100px;
}

form{
   padding: 10px 10px 10px 10px;
   border-style: solid;
}

#menu{
   position: relative;
}

nav ul{
   padding : 0px;
   margin :0px;
   float : right;
}

nav li{
   display:inline-block;
   margin :0px;
   padding :0px;
   width :180px;
   height :50px;
   text-align : center;
   line-height: 50px;
   background-color: white;
   border : 2px solid;
   font-size: 20px;
}

nav li a{
   text-decoration: none;
   color: #002E5D;
   display : block;

}

nav li:hover{
   background-color: #C4D600;
   text-decoration: none;
}

nav li a:hover{
   text-decoration: none;
   color : #002E5D;
}

#pp{
margin-left : 50px;
width : 50px;
border-radius: 2em;}

form {
 /* Uniquement centrer le formulaire sur la page */
 margin: 0 auto;
 width: 500px;
 /* Encadré pour voir les limites du formulaire */
 padding: 1em;
 border: 2px solid;
 border-radius: 1em;
 border-color: #002E5D;
}

label {
 /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
 display: inline-block;
 width: 250px;
 font-size: 25px;
 text-align: center;
 color: #002E5D;
}

input{
   width: 200px;
   height: 30px;
   margin-bottom: 50px;
   font-size: 20px;
}
#dessus{
      display: flex;
      justify-content: end;
      align-content: start;
      opacity: 0;

}

#pp{
text-decoration: none;
}

#pop{
width : 140px;
}

#pop li{
margin :0px;
   padding :0px;
   width :140px;
   height :40px;
   text-align : center;
   line-height: 40px;
   background-color: white;
   border : 2px solid;
   font-size: 17px;
}

#pop li:hover{
    background-color: #C4D600;
    text-decoration: none;
}

button{
   padding: 0.5em;
 border:none;
 border-radius:8px;
 margin-bottom: 0px;
 background-color : #C4D600;
 font:bold 20px Arial;
 color:#002E5D;
}

.bande{
margin-bottom : 30px;
display : inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color : white;
    background-color: #002E5D;
    margin-top: 20px;
    font-size: 22px;
}

h1{
font-size : 40px;}

.stock {
width : 900px;
overflow-x: auto;
color:black;
height : 300px;
font-size:25px;
white-space:nowrap;
}

.stock a {
text-decoration: none;}

.stock li{
text-align:center;
white-space:normal;
overflow:hidden;
width : 200px;
display:inline-block;
list-style-type: none;
margin-right : 20px;}
.e1 {
height : 200px;
text-decoration : none;
background-color:#BF3030;
}

.e1:hover{
filter: blur(0.3px);
    opacity: .5;
}
.e2 {
height : 200px;
background-color:#9FE855;
}

.e2:hover{
filter: blur(0.3px);
    opacity: .5;
}
.e3 {
height : 200px;
background-color:#C8AD7F ;
}

.e3:hover{
filter: blur(0.3px);
    opacity: .5;
}
.e4{
height : 200px;
background-color : #3A8EBA;
}

.e4:hover{
filter: blur(0.3px);
    opacity: .5;
}

.e5{
height : 200px;
background-color:#EFD807;
}

.e5:hover{
filter: blur(0.3px);
    opacity: .5;
}






